{% extends 'layout.twig' %}
{% set active = 'works' %}
{% block content %}
    <h1>{{ pageTitle }}</h1>
       
    {% block stylesheets %}
    {{ parent() }}
    <link href="css/custom_css_for_this_page_only.css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
    <script src="js/custom_javascript_for_this_page_only.js"></script>
    {% endblock %}

{% endblock %}