@charset "utf-8";
/* @Version: 1.0 @Date: May 1 2014 @Author: Ovi FARCAS */

/* Typo 
-------------------------------------------------------------------------*/
body {
	font-family: 'Carme', sans-serif, cursive;


}
h2 {
	margin: 0 0 1em 0;
}

p {
	line-height: 1.5em;
}

.navbar-nav {
	font-family: 'Carme', cursive;
	font-size: 160%;
}

.nav .glyphicon-home {font-size: 100%;}
.glyphicon 	{font-size: 50%;}

a:link, a:visited
{
	color: #00909f;
	text-decoration: none;
}

a:hover { color: #9FF !important; }

a img { border: 0px; }

/* LAYOUT 
-------------------------------------------------------------------------*/

body {
	margin-top: 50px;
}

.row {
	padding: 2em 0;
	
}

.carousel-inner {
	background:url(../img/tweed.png) repeat;
}
.carousel-inner img {
	margin:auto;

}

#about, #footer {
	background: url(../img/tweed.png) repeat;
	color: lightgrey;
}


#gallery img {
	margin: 0 0 1.5em 0;
}

.content {
	min-height: 700px;
}

/* Form Styling
-------------------------------------------------------------------------*/
.form-group label{
	margin-top: 20px;
}


/*
Back to top button 
-------------------------------------------------------------------------*/
#back-top {
	position: fixed;
	bottom: 10px;
    right: 10px;
}
#back-top a {
	width: 50px;
	height: 40px;
	display: block;
	text-align: center;
	font-size: 300%;
	text-decoration: none;
	color: #bbb;
	background: #777;
		/* rounded corners */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

}
#back-top a:hover {
	color: #000;
}

/* Media Queries
-------------------------------------------------------------------------*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}